/* Colors 

Teals #28403A, #49756A, #5DB59C, #6B9186
Neutrals #51493F, #DDD0B3, #F9F3ED, #FFFFFF
Reds #7F372A, #994233, #E2614B
Greens #406340, #679967, #95DD95
Tans #706048, #D6B88A, #FFE7C7
Yellows #BF9300, #E5B000, #DDC276, #FFECAE
Mints #354039, #6B7F73, #CCE2D3
*/


.background{
	position: absolute;
	height: 1800px;
	width: auto;
}

.background .background-svg{
	position: absolute;
	height: 1800px;
	width: auto;
	top: -18%;	
	z-index: -2;
}

*{
	padding: 0px;
	margin: 0px;
}

body{
	/*margin: 1.5em;*/
	letter-spacing: 1px;
	
}

@font-face {
  font-family: 'Big John';
  src:  url('/fonts/BIG_JOHN.otf') format('otf'),
}

@font-face {
  font-family: 'Open Sans';
  src:  url('/fonts/open-sans/OpenSans-Regular.ttf') format('ttf'),
}

ul.key{
	list-style-type: none;
	text-align: center;
	font-size: 1em;
	margin: auto;
}

.key a {
	text-decoration: none;
	font-family: 'Big John';
	color: #E2614B;
}

.key .event-name {
	text-decoration: none;
	font-family: 'Big John';
	color: #E2614B;
}

li{
	display: inline-block;
	padding: 10px;
}

li img{
	width: 150px;
	display: block;
	margin: auto;
}

.center{
	position: absolute;
	bottom: 0px;
	width: 100%;
}

.city-icon{
	width: 100px;
}

/* markers */
.city-layer{
	z-index: -1;
}


.marker{
	position: absolute;
}

.marker img{
	position: relative;
}


/* ng-show details */

.show-content{

}

.show-header{
	color: #5DB59C;
	font-family: 'Big John';
	font-size: 5em;
}

.show-subhead{
	font-size: 2em;
	color:#E2614B;
	font-family: 'Big John';
}

a.event-icons{
	text-decoration: none;
}

.event-thumb{
	width: 100px;
	height:auto;
}

.event-title{
	font-family: 'Big John';
	font-size: 1em;
	color:#E2614B;
}

.event-information{
	font-family: 'Open Sans';
	color: #49756A;
	font-weight: 300;
}


.details{
	background: #ffffff;
	box-sizing: border-box;
	overflow: hidden;
	z-index: 1;
	position: relative;
	padding: 15px;
}

.close{
	float:right;
}

.close-svg{
	width: 7em;
}

.city-img{
	float: right;
}

.left{
	float:left;
}

.icon-box{
	width: 310px;
	text-align: center;
}

.category-icon{
	width: 12em;
	display: block;
	margin: auto;
}


