/* Colors 

Teals #28403A, #49756A, #5DB59C, #6B9186
Neutrals #51493F, #DDD0B3, #F9F3ED, #FFFFFF
Reds #7F372A, #994233, #E2614B
Greens #406340, #679967, #95DD95
Tans #706048, #D6B88A, #FFE7C7
Yellows #BF9300, #E5B000, #DDC276, #FFECAE
Mints #354039, #6B7F73, #CCE2D3

*/

.background{
	font-size: 10pt;
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -1;

}

.background img{
	min-width: 1000px;
	width: 100%;
}

*{
	padding: 0px;
	margin: 0px;
}

body{
	/*margin: 1.5em;*/
	letter-spacing: 1px;
	overflow: hidden;
}

@font-face {
  font-family: 'Big John';
  src:  url('/fonts/BIG_JOHN.otf') format('otf'),
}

@font-face {
  font-family: 'Open Sans';
  src:  url('/fonts/open-sans/OpenSans-Regular.ttf') format('ttf'),
}

h1{
	font-family: 'Big John';
	color: #5DB59C;
	font-size: 5em;
	margin: 0px;
}

.subhead{
	font-family: 'Big John';
	font-size: 1.7em;
	color:#E2614B;
}

.description{
	margin-top: 425px;
	font-family: 'Open Sans';
	font-size: 10pt;
	width: 500px;
	color: #49756A;
}