 <!DOCTYPE html>
<html>
    <head>
        <!-- angular -->
        <script type="text/javascript" src="js/angular.js"></script>
        

        <!-- script -->
        <script type="text/javascript" src="js/app.js"></script>
        <script type="text/javascript" src="js/cities.js"></script>
        <script type="text/javascript" src="js/customcontroller.js"></script>
        <script type="text/javascript" src="js/angular-modal-service.js"></script>

        <!-- css -->
        <link rel="stylesheet" type="text/css" href="css/styles.css">

    </head>

    <body ng-app="myApp" ng-controller="BaseController as base">

 	<div ng-controller="CitiesController as cityCtrl">

		 <div ng-model="modal" id="custom-modal" class="modal" ng-repeat="cities in cityCtrl.cities" >
		  <div id="overlay">
		      <div>{{cities.city}}</div>
		      <a href ng-click="close()">Close</a>
		  </div>
		  <div id="fade"></div>
		</div>

    </div><!-- end of CitiesController -->
    </body> <!-- end of BaseController -->
</html>

